<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>チャット</title>
    <link rel="stylesheet" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      #messages {
        list-style: none;
      }

      #messages li {
        margin-bottom: 2px;
      }

      #messages li img {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>

      <form id="chatbox" role="form">
        <div class="form-group">
          <label for="text">{{.UserData.name}} からメッセージを送信</label>
          または<a href="/logout">サインアウト</a>
          <textarea id="text" class="form-control"></textarea>
        </div>
        <input class="btn btn-default" type="submit" value="送信">
      </form>
    </div>

    <script>
      const $ = selector => document.querySelector(selector);
      const $chatbox = $("#chatbox");
      const $text = $("#text");
      const $messages = $("#messages");
      const socket = new WebSocket("ws://{{.Host}}/room");

      socket.onclose = () => {
        console.log("接続が終了しました");
      };

      socket.onmessage = e => {
        const $li = document.createElement("li");
        const msg = JSON.parse(e.data);
        $li.innerHTML = `
          <img
            src="${msg.AvatarURL}"
            style="width: 50px; vertical-align: middle;"
            title="${msg.Name}"
          >
          <span>${msg.Message}</span>
        `;
        $messages.appendChild($li);
      };

      $chatbox.addEventListener("submit", e => {
        e.preventDefault();
        e.stopPropagation();

        const value = $text.value.trim();
        if (value === "") return;
        socket.send(JSON.stringify({ "Message": value }));
        $text.value = "";
      }, false);
    </script>
  </body>
</html>
